{% extends 'base.html' %}
{% load i18n %}

{% block main %}
  <H1>Sistema de Gestão de Funcionários</H1>
  <h2>Seja bem vindo (core/index.html)</h2>
  <div class="row">
    <div class="col-sm">
      {% trans "you are welcome!" %} <br>
      {% trans "Hi" %}  {{ usuario.funcionario.nome }} <br>
      {% trans "One of three columns" %} <br>
      {% blocktrans %}
      My big block of text
      must be right here
      Thanks!
      {% endblocktrans %}
    </div>
    <div class="col-sm">
      Escolha uma opção:
      <br>
      <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionario</a>
      <br>
      <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
      <br>
      <a href="{% url 'list_hora_extra' %}">Gerenciar Banco de Horas</a>
    </div>
    <div class="col-sm">
      <a href="{% url 'logout' %}">Logout</a>
      <br>
      {% if usuario.funcionario.empresa %}
        <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
      {% else %}
        <a href="{% url 'create_empresa' %}">Criar Empresa</a>
      {% endif %}
    </div>
  </div>
{% endblock %}